/*ADDED GOOGLE FONT - Tenor Sans  */
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

/* UNIVERSAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  font-family: "Tenor Sans", sans-serif;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.nav-container .logo-wrapper {
  width: 80px;
  height: 80px;
}

.logo-wrapper img {
  width: 100%;
}

.right-content-wrapper .content-container {
  list-style: none;
  display: flex;
  align-items: center;
}
.right-content-wrapper .content-container li {
  margin-right: 100px;
}
.right-content-wrapper .content-container li a {
  text-decoration: none;
  color: #0f0f1d;
  font-size: 22px;
  font-weight: 400;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1260px) {
}

@media screen and (max-width: 1172px) {
}

@media screen and (max-width: 1060px) {
}

@media screen and (max-width: 992px) {
  .right-content-wrapper .content-container li {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .right-content-wrapper .content-container li {
    margin-right: 20px;
  }

  .right-content-wrapper .content-container li a {
    font-size: 18px;
  }
}
@media screen and (max-width: 500px) {
}

@media screen and (max-width: 400px) {
  .right-content-wrapper .content-container li {
    margin-right: 10px;
  }

  .right-content-wrapper .content-container li a {
    font-size: 16px;
  }
}
